<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26998248904-3gvvq85v20v3002av00430a08l0rsnn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26998248904-3gvvq85v20v3002av00430a08l0rsnn9</string>
	<key>API_KEY</key>
	<string>AIzaSyASGebXxKuFZntfwYyFZ61xyEhzj7B-l5c</string>
	<key>GCM_SENDER_ID</key>
	<string>26998248904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.aluco.Cars</string>
	<key>PROJECT_ID</key>
	<string>cars-10abf</string>
	<key>STORAGE_BUCKET</key>
	<string>cars-10abf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26998248904:ios:390289249cf45873309cfd</string>
	<key>DATABASE_URL</key>
	<string>https://cars-10abf.firebaseio.com</string>
</dict>
</plist>